/**
 * Variables
 */

@color-chathams-blue: #1a4971;
@color-matisse: #2368a2;
@color-bermuda: #6ed7d3;
@color-sail: #aad4f5;
@color-green-pea: #155239;
@color-jewel: #187741;
@color-eucalyptus: #249d57;
@color-emerald: #38c172;
@color-grey-333: #333;

/**
 * Background colors
 */

.bg-chathams-blue {
  background-color: @color-chathams-blue;
}

.bg-matisse {
  background-color: @color-matisse;
}

.bg-bermuda {
  background-color: @color-bermuda;
}

.bg-sail {
  background-color: @color-sail;
}

.bg-green-pea {
  background-color: @color-green-pea;
}

.bg-jewel {
  background-color: @color-jewel;
}

.bg-emerald {
  background-color: @color-emerald;
}

.bg-color-grey-333 {
  background-color: @color-grey-333;
}

.bg-eucalyptus {
  background-color: @color-eucalyptus;
}
